body {
    font-family: 'Roboto', sans-serif !important;
}

.row {
    margin: 0px;
    padding: 0px;
}

body section, .fullAuto {
    margin: auto !important;ap
}

/*Custom pills */
.nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
}

.nav a {
    font-weight: bold;
    color: #020202;
}

.nav li.active a {
    background-color: #FFE450;
    color: #020202;
}

.nav li.active a:focus {
    background-color: #FFE450;
    color: #020202;
}

.nav li:not(.active) a:hover {
    background-color: white;
}

.nav li.active a:hover {
    background-color: #FFE450;
    color: #020202;
}

/*End: Custom pills*/

/*Theme button*/

.signUpButton {
    transition: background-color 0.5s ease;
    background-color: #FFE450;
    color: #020202;
    border-color: #FFE450;
    border-radius: 3px;
    margin-top: 75px;
    padding: 15px 50px;
    font-size: 24px;
    font-weight: bold;
}

.signUpButton:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}

/*End: Theme button*/

#homeWrapper {
    background-image: url("../img/bokeh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#eventHome {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(255, 252, 245, 0.5);;
    color: #363636;
}

#descriptionWrapper {
    /* background-color: rgba(138, 6, 6, 0.68);*/
}

#eventDescription {
    background-color: rgb(249, 246, 239);
    color: black;
}

#description {
    padding: 40px;
    font-size: x-large;
    /* font-weight: bold;*/
    margin-bottom: 0px;
}

#eventSpeakers {
    border-radius: 3px;
    background-color: #FFE450;
    padding-bottom: 20px;
}

#eventSpeakers #titleSchedule {
    padding: 0px;
    padding-top: 15px;
}

#eventSpeakers #eventSpeakersContainer .speaker {
    margin-top: 25px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-right: 50px;
}

#eventSpeakers #eventSpeakersContainer .speaker .profilePic {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 20px;
}

#eventSpeakers #eventSpeakersContainer .speaker .name {
    font-weight: 600;
    font-size: 22px;
    margin: 15px 0 0;
    line-height: 1;
    color: #373737;
}

#eventSpeakers #eventSpeakersContainer .speakerDetail {
    width: 100%;
    font-size: 18px;
    color: black;
}

#eventSpeakers #eventSpeakersContainer .description {
    margin-top: 5px;
}

#titleSchedule {
    padding: 30px;
}

#eventSchedule {
    border-radius: 3px;
    overflow: hidden;
    background-color: rgb(255, 252, 245);
}

#eventLocation .container {
    border-radius: 3px;
    padding: 0px;
    background-color: #FFE450;
}

#eventLocation h2, h3 {
    margin: 20px;
}

#map {
    margin: auto;
   
    height: 400px;
    overflow: hidden;
}

#faq {
    background-color: #fffcf5;
    padding-bottom: 10px;
}

#faq .faq-title {
    margin-top: 30px;
    margin-bottom: 0px;
    color: black;
}

#faq .faqArticle {
    margin-top: 25px;
}

#faq p {
    color: black;
    text-align: left;
    font-size: larger;

}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 300%;
}

h1, h2 {
    font-weight: 700;
    line-height: 35px;
}

.infoBoxTimeLocation #time {
    font-size: 30px;
}

.infoBoxTimeLocation #place {
    margin: 0px;
    font-size: 20px;
}

/*Registration form style*/
#eventRegistration {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/bokeh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
}

#registrationForm {
    padding-top: 50px;
    max-width: 900px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#registrationForm .reg-button {
    margin-top: 13px;
    float: right;
}

.reg-input {
    width: 100%;
    border-radius: 3px;
    border: 0;
    color: black;
}

.reg-textbox {
    margin: auto;
    margin-bottom: 20px;
    padding: 3px 8px 3px 8px;
    height: 34px;
}

.reg-textarea {
    text-align: left;
    text-transform: none;
    resize: none;
    height: 150px;
    padding: 15px 8px 15px 8px;
}

.notification p {
    border-radius: 3px;
    color: #FFF;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.error p {
    background: #E96656;
}

.success p {
    background: #34d293;
}

div.recaptcha-container {
    margin: 5px 5px 5px 5px;
    display: inline-block;
    opacity: 1;
    float: left;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
    font-size: larger;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    font-size: larger;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    font-size: larger;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-size: larger;
}

/* Navigation */
.navbar{
	margin: 0 0 0 0 !important;
	background-color: rgba(255, 252, 245) !important;	
}

.navbar-nav > li > a{
	border-radius: 6px;
}

.navbar-nav > li > a{
	color: #363636 !important;
}

a.navAnchor, .navbar-nav > li > a{
	outline: 0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:focus{
    background-color: #FFE450;
}



a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}