.tab-content {
    margin-top: 25px;
    transition: height 1s;
}

.tab-pane {
    margin-top: 5px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#timeline {

    background-repeat: repeat-y;
    background-size: 3px 3px;
    /* background: url(../img/redDot.png) top center repeat-y;*/
    padding: 50px 0;
    overflow: hidden;
    list-style: none;
    position: relative;
    text-align: center;
}

/*Start*/
.verticalAxis:before,
.verticalAxis:after {
    content: " ";
    width: 13px;
    height: 13px;
    display: block;
    background: black;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -5px;
    border-radius: 7px;
}

/*DownArrow at end*/
.verticalAxis:after {
    margin-left: -9px;
    background: none;
    border: 10px solid transparent;
    border-top-color: black;
    width: 0;
    height: 0;
    top: auto;
    bottom: -11px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*Vertical line*/
#eventSchedule .verticalAxis {
    position: absolute;
    height: 95%;
    width: 48.266%;
    border-right: 3px black solid;
}

/*Block*/
#timeline li {
    font-size: larger;
    position: relative;
    clear: both;
    float: left;
    width: 318px;
    padding: 16px 10px 2px 10px;
    background-color: #fffcf5;

    text-align: right;
    margin: 0 0 10px 0;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*Align blocks on one side for small res*/
@media screen and (max-width: 768px) {
    #timeline li {
        text-align: center !important;
        float: none !important;
        width: initial;
    }
}

#timeline .insideBlock {

}

/*Sideconnections*/
@media screen and (min-width: 768px) {
    #timeline li:before,
    #timeline li:after {
        content: " ";
        width: 13%;
        height: 3px;
        background: black;
        position: absolute;
        left: 100%;
        top: 50%;
    }

    #timeline li:nth-of-type(even):after {
        width: 13%;
    }
}

/*Positioner*/
#timeline li:nth-of-type(odd),
#timeline li:nth-of-type(even) {
    margin: -10px 0 0 0;
}

#timeline li:nth-of-type(even) {
    float: right;
    text-align: left;
}

@media screen and (min-width: 992px) {
    .tab-pane {
        width: 750px;
        text-align: center;
    }
}

#timeline li:nth-of-type(even):after {
    left: auto;
    right: 100%;
}

#timeline time {
    font-weight: bold;
}